@charset "UTF-8";

.mainScreenArea {
	margin: 0 auto;
	width: 600px;
	height: 855px;
	padding: 30px 40px;
	border-style: solid;
	border-color: #0D47A1;
	border-radius: 15px;
	overflow: hidden;
}

#dbCheck2 {
	background-color: rgba(64, 64, 208, 1);
	color: white;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px 0px;
	width: 598px;
}

#dbCheck2:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#chargesend {
	background-color: rgba(238, 238, 238, 1);
	color: rgba(64, 64, 208, 1);
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px 0px;
	width: 598px;
}

#chargesend:hover {
	background-color: rgba(64, 64, 208, 1);
	color: white;
	cursor: pointer;
}

#send {
	background-color: rgba(64, 64, 208, 1);
	color: white;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px 0px;
	width: 598px;
}

#send:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#complete {
	background-color: rgba(64, 64, 208, 1);
	color: white;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	transition: background-color 0.5s ease-out;
}

#complete:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#chargeCheck {
	background-color: rgba(64, 64, 208, 1);
	color: white;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px 0px;
	width: 598px;
}

#chargeCheck:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.ac_input input {
	width: 598px;
	height: 50px;
	cursor: hand;
	color: #616161;
	border-bottom: solid 2px #0D47A1;
	background-color: #E3F2FD;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 15px;
	text-align: left;
	margin: 10px 0px;
	cursor: pointer;
	border-radius: 15px;
}

.bank_choose select {
	width: 598px;
	height: 50px;
	cursor: hand;
	color: #616161;
	border-bottom: solid 2px #0D47A1;
	background-color: #E3F2FD;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 15px;
	text-align: left;
	margin: 10px 0px;
	cursor: pointer;
	border-radius: 15px;
}

.tamount {
	width: 598px;
	height: 50px;
	cursor: hand;
	color: #616161;
	border-bottom: solid 2px #0D47A1;
	background-color: #E3F2FD;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 15px;
	text-align: left;
	margin: 10px 0px;
	cursor: pointer;
	border-radius: 15px;
}

.check {
	text-align: center;
	margin: 10px 0px;
}

.middle_content {
	text-align: center;
}